<% if current_user && current_user.is_admin %>
  <div class="pull-right">
    <%= link_to("Add a event", new_meeting_path, :class => "btn btn-default" ) %>
  </div>
<% end %>

<%= month_calendar events: @meetings do |date, meetings| %>
  <%= date %>

  <% meetings.each do |meeting| %>
    <div>
      <%= meeting.name %>
    </div>
  <% end %>
<% end %>
