<div class="background">
  <div class="row">
    <!--The Upcoming Events-->
    <div class="col-md-3">
      <div class="greybox">
        <% @meetings.each do |meeting| %>
          <% if in_future(meeting.start_time) %>
            <div class="upcoming">
              <%= link_to(meeting.name, meeting_path(meeting), :style => "color:#00C853") %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <!--The Calendar-->
    <div class="col-md-9">
      <div class="greybackground">
        <%= month_calendar events: @meetings do |date, meetings| %>
          <%= date.strftime("%m/%d") %>

          <% meetings.each do |meeting| %>
            <div>
              <%= link_to(meeting.name, meeting_path(meeting), :style => "color:#00C853") %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>

</div>
