<!-- ################################################################################################ -->
<div class="jumbotron">
  <!-- title -->
  <div style="margin:150px 30px;">
    <h2 class="title">Boston University</h2>
    <h2 class="title">AR/VR Club</h2>
    <!-- slogan -->
    <p class="slogan">
      Terriers’ NO. 1 Hub for AR/VR Technologies
    </p>
    <!-- button -->
    <p class="lead">
      <%= link_to "Join Now", meetings_path, class: 'btn btn-lg btn-secondary' %>
    </p>
  </div>
</div>

<!-- ################################################################################################ -->
<div class="content-section-a">
  <h2 class="section-heading-a">
    Introduction
  </h2>
  <p class="lead">
    BU AR/VR is group of people dedicated to introduce augmented reality/virtual reality technologies
    to the community around us. We aim to foster an Augmented Reality and Virtual Reality enthusiastic
    atmosphere within BU. It’s a brand new initiative for students to gain recognition among bigger
    technology communities in Boston built upon intellectual interest in the cutting-edge AR/VR field.
  </p>

</div>

<div class="content-section-b">
  <section id="testimony">
    <div class="wrapper">
        <h2 class="section-heading-b">
          What We Provide
        </h2>

        <div class="testimony">
            <img class="img-thumbnail" style="background-color: white;" src='https://i.imgur.com/QVeByen.png'>
            <h3 class="section-heading-c">
              Connection
            </h3>
            <p class="lead">
              Connect to people who have similar interest in AR or VR technology at Boston University community
            </p>
        </div>
        <div class="testimony">
            <img class="img-thumbnail" src='https://i.imgur.com/gvbDSS0.png'>
            <h3 class="section-heading-c">
              Talented
            </h3>
            <p class="lead">
              Speaker series and network opportunity with industrial leaders from Amazon, PTC, Wayfair, Microsoft, etc.
            </p>
        </div>
        <div class="testimony">
            <img class="img-thumbnail" src='https://i.imgur.com/8v7liJi.png'>
            <h3 class="section-heading-c">
              Device
            </h3>
            <p class="lead">
              Demo and rental from BostonAR and BostonVR for projects. (Hololens, Oculus Rift, Samsung Gear etc.)
            </p>
        </div>
    </div>
  </section>
</div>


<!-- ################################################################################################ -->
<div class="jumbotron-second">
    <h1 class="title"></h1>
  <div class="alignCenter">
    <%= link_to "Join Now", meetings_path, class: 'btn btn-lg btn-secondary' %>
  </div>
  <h1 class="title"></h1>
</div>
<!-- ################################################################################################ -->
<div class="content-section-b">
  <h2 class="section-heading-b">
    <span class="justify">Q & A</span>
  </h2>
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail"style="border:none">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading-b">
                  Question 1
                </h2>
                <p class="lead">
                  Answer 1
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail"style="border:none">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading-b">
                  Question 2
                </h2>
                <p class="lead">
                  Answer 2
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail"style="border:none">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading-b">
                  Question 3
                </h2>
                <p class="lead">
                  Answer 3
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail"style="border:none">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading-b">
                  Question 4
                </h2>
                <p class="lead">
                  Answer 4
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail"style="border:none">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading-b">
                  Question 5
                </h2>
                <p class="lead">
                  Answer 5
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail"style="border:none">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading-b">
                  Question 6
                </h2>
                <p class="lead">
                  Answer 6
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- ################################################################################################ -->

</body>
