<!--background image-->
<div class="jumbotron">
  <!-- title -->
  <div style="margin:150px 30px;">
    <h2 class="title">Boston University</h2>
    <h2 class="title">AR/VR Community</h2>
    <!-- slogan -->
    <p class="slogan">
      Terriers’ NO. 1 Hub for AR/VR Technologies
    </p>
    <!-- button -->
    <p class="lead">
      <%= link_to "Join Now", meetings_path, class: 'lp-block-1-button' %>
    </p>
  </div>
</div>

<!--Introduction-->
<div class="content-section-a">
  <h2 class="section-heading-a">
    Introduction
  </h2>
  <p class="lead">
    BU AR/VR is group of people dedicated to introduce augmented reality/virtual reality technologies
    to the community around us. We aim to foster an Augmented Reality and Virtual Reality enthusiastic
    atmosphere within BU. It’s a brand new initiative for students to gain recognition among bigger
    technology communities in Boston built upon intellectual interest in the cutting-edge AR/VR field.
  </p>
</div>

<!--Benefits(What we provide)-->
<div class="content-section-b">
  <section id="testimony">
    <div class="wrapper">

        <h2 class="section-heading-b">
          What We Provide
        </h2>

        <!--Benefit 1-->
        <div class="testimony">
            <img src='https://i.imgur.com/QVeByen.png'>
            <h3 class="section-feature-b">
              Connection
            </h3>
            <p class="lead" style="word-spacing: 4px;">
              Connect to people who have similar interest in AR or VR technology at Boston University community
            </p>
        </div>

        <!--Benefit 2-->
        <div class="testimony">
            <img src='https://i.imgur.com/gvbDSS0.png'>
            <h3 class="section-feature-b">
              Inspiration
            </h3>
            <p class="lead">
              Speaker series and network opportunity with industrial leaders from Amazon, PTC, Wayfair, Microsoft, etc.
            </p>
        </div>

        <!--Benefit 3-->
        <div class="testimony">
            <img src='https://i.imgur.com/8v7liJi.png'>
            <h3 class="section-feature-b">
              Device
            </h3>
            <p class="lead">
              Demo and rental from BostonAR and BostonVR for projects. (Hololens, Oculus Rift, Samsung Gear etc.)
            </p>
        </div>
    </div>
  </section>
</div>


<!--Second background-->
<div class="jumbotron-second">
    <h1 class="title"></h1>
  <div class="alignCenter">
    <%= link_to "See Our Events", meetings_path, class: 'lp-block-1-button' %>
  </div>
  <h1 class="title"></h1>
</div>

<!--Q&A section-->
<div class="content-section-c">
  <h2 class="section-title-c">
    <span class="justify">Q & A</span>
  </h2>
  <div class = "container-fluid">
    <div class="row" style="margin:0px 40px;">

      <!--Q&A1-->
      <div class="col-sm-12">
        <div class="thumbnail"style="border:none">
          <div class="caption">
            <div class="clearfix"></div>
              <h3 class="section-heading-c">
                When and where is BU AR/VR’s regular meeting?
              </h3>
              <p class="lead">
                Time: 6:00 - 7:30 pm every wednesday
              </p>
              <p class="lead">
                Location: The seminar room at 111 Cummington Mall, MA 02115
              </p>
          </div>
        </div>
      </div>

      <!--Q&A2-->
      <div class="col-sm-12">
        <div class="thumbnail"style="border:none">
          <div class="caption">
            <div class="clearfix"></div>
              <h3 class="section-heading-c">
                What can I expect from regular meeting?
              </h3>
              <p class="lead">
                Industry speaker series
              </p>
              <p class="lead">
                Workshops (e.g. Unity, Simmetri)
              </p>
              <p class="lead">
                Field trips and hack nights
              </p>
          </div>
        </div>
      </div>

      <!--Q&A3-->
      <div class="col-sm-12">
        <div class="thumbnail"style="border:none">
          <div class="caption">
            <div class="clearfix"></div>
              <h3 class="section-heading-c">
                What if I wish to do an AR/VR related project?
              </h3>
              <p class="lead">
                We encourage members to submit ideas for projects.
                BU AR/VR will equip you with team members, mentors,
                access to devices and 3D assets. Make sure to let us know
                and attend our workshops and hack nights.
              </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
