
<div class="hero">
  <div class="hero__content container">
    <!--h1>WELCOME TO <em>BUARVR</em></h1-->
    <h1>WELCOME TO BUARVR</h1>
    <div class="hero__divider"></div>
    <p>Terrier's No. 1 Hub for AR/VR Technologies</p>
  </div>
  <div class="hero__overlay"></div>
</div>

<div class="content-section-c">
  <h2>INTRODUCTION</h2>
  <div class="col-md-12" style="margin-top:4em;"></div>
  <div class="container-fluid">
    <p>
      BU AR/VR is a student-run organization dedicated to introducing augmented
      reality and virtual reality technologies to the community around us.
      We aim to foster an enthusiastic
      atmosphere and bring in industrial resources to the Boston University campus. It's a brand new initiative for students to gain
      recognition among bigger technology communities in Boston built upon
      intellectual interest in the cutting-edge AR/VR field.
    </p>
  </div>
</div>

<div class="three-col wrapper">
  <h2>WHAT WE PROVIDE</h2>
  <div class="col-md-12" style="margin-top:2em;"></div>
  <div class="container">
    <div class="global">
      <img src='https://svgshare.com/i/4yf.svg' title='connection' style="width:150px;height:150px;"/>
      <h3>CONNECTION</h3>
      <p>Connecting to people who have similar interest in AR or VR technology at Boston University community</p>
    </div>
    <div class="unique">
      <img src='https://svgshare.com/i/4x9.svg' title='inspiration' style="width:150px;height:150px;"/>
      <h3>INSPIRATION</h3>
      <p>Speaker series and network opportunity with industrial leaders from Amazon, PTC, Wayfair, Microsoft, etc.</p>
    </div>
    <div class="love">
      <img src='https://svgshare.com/i/4wG.svg' title='headset' style="width:150px;height:150px;"/>
      <h3>DEVICE</h3>
      <p>Demo and rental from BostonAR and BostonVR for projects. (Hololens, Oculus Rift, Samsung Gear etc.)</p>
    </div>
  </div>
</div>

<div class="two-col wrapper">
  <h2>FAQ</h2>
  <div class="container">
    <!--Q1-->
    <div>
      <p class="questions">When and where is BU AR/VR’s regular meeting?</p>
    </div>
    <div>
      <p>
          Time: 6:00 - 7:30 pm every Wednesday
          </br>
          Location: Room MCS148 at 111 Cummington Mall, MA 02115
      </p>
    </div>

    <!--Q2-->
    <div>
      <p class="questions">What can I expect from regular meeting?</p>
    </div>
    <div>
      <p>
          Industry speaker series
          </br>
          Workshops (e.g. Unity, Simmetri)
          </br>
          Field trips and hack nights
      </p>
    </div>

    <!--Q3-->
    <div>
      <p class="questions">What if I wish to do an AR/VR related project?</p>
    </div>
    <div>
      <p>
         We have launched a semester-long project competition.
         BU AR/VR equips you with team members, mentors, device rental and final prizes.
         <a href="mailto:buarvr@gmail.com">Email us</a> if you are interested in joining a team.
      </p>
    </div>

  </div>
</div>
