<body id="top">


<!-- ######################################### -->
<div class="wrapper bgded overlay" style="background-image:url('images/demo/backgrounds/01.png');">
  <div id="pageintro" class="hoc clear">
    <!-- ################################################################################################ -->
    <article>
      <h2 class="heading">Boston University AR/VR Club</h2>

      <p>One sentence to describe ourself.</p>
      <footer><a class="btn" href="#">Join Now</a></footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<div class="content-section-b">
  <h2 class="section-heading">
    <span class="justify">Introduction</span>
  </h2>
  <p class="lead">
    (4 to 6 sentence)
  </p>

</div>

<div class="content-section-a">
  <section id="testimony">
    <div class="wrapper">
        <h2 class="section-heading">
          What We Provide
        </h2>
        <p class="lead">
          List three benefits of our club
        </p>
        <p class="lead">
          (You can pick the three following images or I can pick if you are busy)
        </p>

        <div class="testimony">
            <img class="img-thumbnail" src='http://i.imgur.com/9ZivQrZ.png'>
            <p>
              Benefit 1 (3 to 4 sentence)
            </p>
        </div>
        <div class="testimony">
            <img class="img-thumbnail" src='http://i.imgur.com/opfdi8A.png'>
            <p>
              Benefit 2 (3 to 4 sentence)
            </p>
        </div>
        <div class="testimony">
            <img class="img-thumbnail" src='http://i.imgur.com/4k52H4g.png'>
            <p>
              Benefit 3 (3 to 4 sentence)
            </p>
        </div>
    </div>
  </section>
</div>

<!-- ################################################################################################ -->
<div class="wrapper bgded overlay coloured" style="background-image:url('images/demo/backgrounds/02.png');">
  <div class="hoc container clear">
    <!-- ################################################################################################ -->
    <article class="center">
      <h2 class="font-x3 uppercase">Need another background image here</h2>
      <footer>
        <ul class="nospace inline pushright">
          <li><a class="btn inverse" href="#">Join Now</a></li>
        </ul>
      </footer>
    </article>
    <!-- ################################################################################################ -->
  </div>
</div>
<!-- ################################################################################################ -->
<div class="content-section-b">
  <h2 class="section-heading">
    <span class="justify">Q & A</span>
  </h2>
  <section id="company">
    <div class = "container-fluid">
      <div class="row">
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading">
                  Question 1
                </h2>
                <p class="lead">
                  Answer 1
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading">
                  Question 2
                </h2>
                <p class="lead">
                  Answer 2
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading">
                  Question 3
                </h2>
                <p class="lead">
                  Answer 3
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading">
                  Question 4
                </h2>
                <p class="lead">
                  Answer 4
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading">
                  Question 5
                </h2>
                <p class="lead">
                  Answer 5
                </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 ">
          <div class="thumbnail">
            <div class="caption">
              <div class="clearfix"></div>
                <h2 class="section-heading">
                  Question 6
                </h2>
                <p class="lead">
                  Answer 6
                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- ################################################################################################ -->

</body>
