
<div class="hero">
  <div class="hero__content container">
    <h1>WELCOME TO <em>BUARVR</em></h1>
    <div class="hero__divider"></div>
    <p>Terrier's NO. 1 Hub for AR/VR Technologies</p>
  </div>
  <div class="hero__overlay"></div>
</div>

<div class="content-section-c">
  <h2>INTRO</h2>
  <div class="col-md-12" style="margin-top:4em;"></div>
  <div class="container-fluid">
    <p>
      BU AR/VR is group of people dedicated to introduce augmented
      reality/virtual reality technologies to the community around us.
      We aim to foster an Augmented Reality and Virtual Reality enthusiastic
      atmosphere within BU. It's a brand new initiative for students to gain
      recognition among bigger technology communities in Boston built upon
      intellectual interest in the cutting-edge AR/VR field.
    </p>
  </div>
</div>

<div class="three-col wrapper">
  <h2>WHAT WE PROVIDE</h2>
  <div class="col-md-12" style="margin-top:2em;"></div>
  <div class="container">
    <div class="global">
      <img src='http://svgshare.com/i/4DW.svg' title='Connect' style="width:125px;height:125px;"/>
      <h3>CPNNECTION</h3>
      <p>Speaker series and network opportunity with industrial leaders from Amazon, PTC, Wayfair, Microsoft, etc.</p>
    </div>
    <div class="unique">
      <img src='http://svgshare.com/i/4DJ.svg' title='headset' style="width:125px;height:125px;"/>
      <h3>INSPIRATION</h3>
      <p>Connect to people who have similar interest in AR or VR technology at Boston University community</p>
    </div>
    <div class="love">
      <img src='http://svgshare.com/i/4DJ.svg' title='headset' style="width:125px;height:125px;"/>
      <h3>DEVICE</h3>
      <p>Demo and rental from BostonAR and BostonVR for projects. (Hololens, Oculus Rift, Samsung Gear etc.)</p>
    </div>
  </div>
</div>

<div class="two-col wrapper">
  <h2>FAQ</h2>
  <div class="container">
    <!--Q1-->
    <div>
      <p class="questions">When and where is BU AR/VR’s regular meeting?</p>
    </div>
    <div>
      <p>
          Time: 6:00 - 7:30 pm every wednesday
          </br>
          Location: The seminar room at 111 Cummington Mall, MA 02115
      </p>
    </div>

    <!--Q2-->
    <div>
      <p class="questions">What can I expect from regular meeting?</p>
    </div>
    <div>
      <p>
          Industry speaker series
          </br>
          Workshops (e.g. Unity, Simmetri)
          </br>
          Field trips and hack nights
      </p>
    </div>

    <!--Q3-->
    <div>
      <p class="questions">What if I wish to do an AR/VR related project?</p>
    </div>
    <div>
      <p>
         We encourage members to submit ideas for projects. BU AR/VR will equip you with team members, mentors, access to devices and 3D assets. Make sure to let us know and attend our workshops and hack nights.
      </p>
    </div>

  </div>
</div>
