<div class="three-col-project wrapper">
  <h2>Our Projects</h2>
  <div class="col-md-12" style="margin-top:2em;"></div>
  <div class="container">
    <div class="global">
      <img src='https://image.ibb.co/hHoGXc/Picture1.png' title='connection' style="width:150px;height:150px;"/>
      <h3>VR Reading</h3>
      <p>
        The app includes widgets in 3D VR space, widgets including document reader, virtual keyboard,
        video player, music player, data visualizer and such.
      </p>
    </div>
    <div class="unique">
      <img src='https://image.ibb.co/m7Ws5x/Picture2.png' title='inspiration' style="width:150px;height:150px;"/>
      <h3>Yes</h3>
      <p>
        The core idea of the app is an AR game for the iphone that is played on a dinner table with
         fun multiplayer competitive mini game.
      </p>
    </div>
    <div class="love">
      <img src='https://image.ibb.co/epKC5x/Picture3.png' title='headset' style="width:150px;height:150px;"/>
      <h3> TerminatAR</h3>
      <p>
        Terminator vision: using a pair of AR goggles to see almost robotic interface where we can use it to
        potentially scan faces to ID people and scan items to receive information about the item such as
        dimensions or color or comparison of two different items.
      </p>
    </div>
  </div>

  <div class="col-md-12" style="margin-top:2em;"></div>
  <div class="container">
    <div class="global">
      <img src='https://thumb.ibb.co/jVNAsc/Picture4.png' title='connection' style="width:150px;height:150px;"/>
      <h3>3D Data Visualization</h3>
      <p>
        Our idea is to create 3D images of graphs and illustrations from textbooks.
      </p>
    </div>
    <div class="unique">
      <img src='https://thumb.ibb.co/hCF8dH/Picture5.png' title='inspiration' style="width:150px;height:150px;"/>
      <h3>Tutting VR</h3>
      <p>
        Tutting VR is an application for people to view the real time skeleton of their hands and follow
        the pre-recorded virtual 3D hands model in order to learn the tutting transitions or movements using
        hand tracking technology of Leap motion.
      </p>
    </div>

    <!--div class="unique">

      <iframe width="420" height="345" src="https://www.youtube.com/watch?v=Z46zLvd0big&feature=youtu.be&app=desktop">

      </iframe>
    </div-->

  </div>
</div>
