<!--background-->
<div class="jumbotron-about">
  <h1 style="text-align:center; color:white;">Our Team</h1>
</div>

<div class="container-fluid" style="background-color: #FAFAFA; padding-top:50px;">
  <section id="aboutus">
    <div class = "personal-info">
      <img class="display-left" src="https://i.imgur.com/72qzPKj.jpg" alt="Chandler Zhang">
      <p>
        <h2 class="names"> Chandler Zhang </h2>
        <h3> Co-president, B.S. 2018, Computer Engineering in College of Engineering</h3>
        <p> "I dream of bringing holograms to real life. I love everyone on this page." </p>
      </p>
    </div>

    <div class = "personal-info">>
      <img class="display-left" src="https://preview.ibb.co/e7azcw/new.jpg" alt="Alicia Hong">
      <p>
        <h2 class="names"> Alicia Hong </h2>
        <h3> Co-president, M.S. 2018, College of Communication </h3>
        <p> "I am a graduate student at Boston University and data analyst at Amazon Alexa. I am a strong believer in the power of virtual reality to create awakening experiences and bolster human intelligence." </p>
      </p>
    </div>

    <div class = "personal-info">
      <img class="display-left" src="https://i.imgur.com/GMnzPEf.jpg" alt="Min Ha Lee">
      <p>
        <h2 class="names"> Min Ha Lee </h2>
        <h3> Secretary and Treasurer, B.S. 2018, Mechanical Engineering in College of Engineering </h3>
        <p> "Believe, imagine, and be yourself. The only thing stopping you is you." </p>
      </p>
    </div>

    <div class = "personal-info">
      <img class="display-left" src="https://i.imgur.com/ybxyQO3.jpg" alt="Jessie Zhang">
      <p>
        <h2 class="names"> Jessie Zhang </h2>
        <h3> Social Media Manager, M.S. 2018, Public Relations in College of Communication </h3>
        <p> "A PR & Marketing warrior + An aspiring media analytics guru. I feel much smarter when being among these amazing, intelligent people." </p>
      </p>
    </div>
    <div class = "personal-info">
      <img class="display-left" src="https://i.imgur.com/wpTTd0k.jpg" alt="Jessie Zhang">
      <p>
        <h2 class="names"> Ting Hsu <h2>
        <h3> Senior Web Developer, B.A. 2020, Mathematics and Computer in College of Arts and Science </h3>
        <p> "Life is so short, do whatever you want" </p>
      </p>
    </div>

    <div class = "personal-info">
      <img class="display-left" src="https://i.imgur.com/8yTQ61j.png" alt="Charlene">
      <p>
        <h2 class="names"> Charlene Yu </h2>
        <h3> Senior Graphic Designer, B.A. 2018, Statistics in College of Arts and Sciences </h3>
        <p> "What if we are living in a simulated reality?" </p>
      </p>
    </div>

    <div class = "personal-info">
      <img class="display-left" src="https://i.imgur.com/J9Kohc9.jpg" alt="DJ Morel">
      <p>
        <h2 class="names"> DJ Morel </h2>
        <h3> Assistant Graphic Designer, B.S. 2021, Mechanical Engineering in College of Engineering </h3>
        <p> "An undergraduate student at Boston University with an interest in technology and a passion for video games." </p>
      </p>
    </div>

    <div class = "personal-info">
      <img class="display-left" src="https://i.imgur.com/uBwzKzX.jpg" alt="Jared Yellen">
      <p>
        <h2 class="names"> Jared Yellen </h2>
        <h3> Ambassador, B.A. 2021, College of Arts and Sciences </h3>
        <p> "If you don’t know what you want to do, try everything of interest" </p>
      </p>
    </div>


    <div class = "personal-info">
      <img class="display-left" src="https://i.imgur.com/MhX4d3L.jpg" alt="Sayan Nag">
      <p>
        <h2 class="names"> Sayan Nag </h2>
        <h3> Ambassador, B.S. 2021, Computer Engineering in College of Engineering </h3>
        <p> "Hardcore AI, AR & VR enthusiast" </p>
      </p>
    </div>


    <div class = "personal-info">
      <img class="display-left" src="https://i.imgur.com/jWf9gOt.jpg" alt="Timothy Chue">
      <p>
        <h2 class="names"> Timothy Chue </h2>
        <h3> Assistant Web Developer, B.A. 2021, Computer Science in College of Arts and Sciences </h3>
        <p> "I believe AR will revolutionize every aspect of our life and I want to be part of that revolution." </p>
      </p>
    </div>
  </section>
</div>

<!--This page is made by Timothy Chue-->
