//---------job info---------

#job-info {

  padding: 1em;
  text-align: center;
  position: relative;

  .job-time {
    font-family: Arial Black;
    font-size: 2rem;
    padding: 1em 0em 0.5em 0em;
  }

  .job-title {
    font-family: Arial Black;
    font-size: 3rem;
    padding: 3em 0em 0.5em 0em;
  }

  .description{
    text-align: justify;
    max-width: 550px;
    font-size: 1.5rem;
    padding: 0.3em 0em 0.3em 0em;
    margin-left: auto;
    margin-right: auto;
  }

  .address {
    font-size: 1.5rem;
    padding: 0.3em 0em 0.3em 0em;
    margin-left: auto;
    margin-right: auto;
  }


  .details {
    font-size: 1.5rem;
    padding: 0.3em 0em 0.3em 0em;
  }

  .job-info {
    background-color: #f8f8f8;
    display: inline-block;
    margin: 0 1% 0;
    padding: 2rem;
    -moz-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    box-shadow: 0px 0px 3px 0px rgba(4,6,9,0.25);
    border-radius: .35rem;
  }

}

//---------Google Map---------
#map{
    text-align: center;
    width:500px;
    height:250px;
    margin: 40px;
    margin-left: auto;
    margin-right: auto;
}
