//---------Navbar---------
.navbar-brand > img {
    display: inline-block;
    margin-right: 10px;
    width: 225px;
    height: 50px;
}

#navbar {
    .navbar {
      //background-color: #424242;
      //border-color: #424242;
      background-color: #F5F5F5;
      border-color: #F5F5F5;
      //background-color: #4B4641;
      margin-bottom: 0;
      padding-bottom: 15px;
      position: fixed; /* Set the navbar to fixed position */
      top: 0; /* Position the navbar at the top of the page */
      width: 100%; /* Full width */
      z-index: 1;
    }

    @media (min-width: 768px) {
      .navbar {
          border-radius: 0;
      }
    }

    .navbar .navbar-brand {
      color: white;
      font-size: 25pt;
      padding: 15px 30px;
      line-height: 30px;
    }


    .navbar .navbar-nav {
      color: black;
      font-size: 12pt;
      padding: 20px 10px 10px 10px;
      line-height: 30px;
    }

    .navbar .navbar-brand:hover,
    .navbar .navbar-brand:focus {
      color: white;
      background-color: transparent;
    }


}
