// Place all the styles related to the news controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//---------news info---------

#news-info {
  background-color: #FAFAFA;
  padding: 1em;
  text-align: center;
  position: relative;

  .news-new {
    padding: 1em;
    text-align: center;
    position: relative;
    margin: 150px 300px;
  }
  .news-image {
    -webkit-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    -moz-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
    border-radius: .30rem;
  }
  .news-title {
    font-family: Arial Black;
    font-size: 3rem;
  }

  .news-time {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
  }

  .description{
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    max-width: 550px;
    font-size: 1.5rem;
    padding: 0.3em 0em 0.3em 0em;
    margin-left: auto;
    margin-right: auto;
    line-height: 2.0;
  }

}
