// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//----------for all---------
.lead {
    font-family: Hectiva;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

//---------Cover---------

.jumbotron {
    background-image: url("https://i.imgur.com/ZPniGoF.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 110px;
}

.title {
    max-width: 700px;
    margin-top: 0;
    margin-bottom: 0;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.jumbotron h2, .jumbotron .h2 {
    font-family:Georgia;
    text-align: justify;
    font-size: 35pt;
    color: white;
    padding: 0px 50px 0 50px;
}

.jumbotron p {
    font-family:Georgia;
    margin: 0;
    font-size: 24px;
    max-width: 700px;
    padding: 20px 50px 20px 50px;
    text-align:justify;
    color: white;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

}


.lp-block-1-button {
    border-radius: 3px;
    background: transparent;
    display: inline-block;
    border: 2px solid #fff;
    color: #fff;
    line-height: 1;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 14px 30px 13px;
    margin-right: 10px;
    margin-top: 20px;
    }
.lp-block-1-button:hover{
    background-color: white;
    text-decoration: none;
  }

//---------Introduction---------
.content-section-a {
    text-align: center;
    margin-top: -3rem;
    padding: 5rem 5rem 5rem 5rem;
    border-bottom: 1px solid #e7e7e7;
    background-color: #f8f8f8;
}

.section-heading-a {
    font-family: Arial Black;
    margin-bottom: 25px;
}

//-----Benefits(What we provide)-----
.content-section-b {
    text-align: center;
    padding: 40px 0;
}

.section-heading-b {
    font-family: Arial Black;
    margin-bottom: 40px;
}

.section-feature-b {
    font-family: Arial Black;
}

#testimony {
    padding: 5rem 0 5rem 0;
    text-align: center;
    position: relative;

    .testimony p {
      margin-top: 2em;
      margin-bottom: 1em;
    }

    .testimony {
      width: 22.75%;
      display: inline-block;
      margin: 0 1% 0;
      padding: 2.5rem 1.5%;
      text-align: center;
      -webkit-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
      -moz-box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
      box-shadow: 0px 0px 57px 0px rgba(4,6,9,0.25);
      border-radius: .35rem;
    }

    .button_wrapper {
      text-align: center;
      margin: 4rem 0;
      display: inline-block;
    }
}

//---------Second Cover---------
.jumbotron-second {
    background-image: url("https://i.imgur.com/SVZg1BU.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 150px;
    padding-top: 150px;
}

.alignCenter
{
    text-align: center;
    margin: 100px;
}

//---------Q&A---------

.caption {
    margin: 10 50 10 50px;
}

.thumbnail {
    border: 0 none;
    box-shadow: none;
    border: none;
}

.content-section-c {
    padding: 40px 200px;
}

.section-title-c {
    text-align: center;
    font-family: Arial Black;
}

.section-heading-c {
    font-family:Georgia;
    font-weight: bold;
    margin-bottom: 10px;
}
