
<footer class="text-center">
  <div class="footer-below">
    <div class="space">
      <img src="http://image.ibb.co/d8Cti6/logo_crop.png" align="middle">
    </div>
    <div class="space">
      <p><a class="drop" style="color: white;" href="https://www.facebook.com/groups/buarvr/">Facebook</p>
      <p>Email: buarvr@gmail.com</p>
    </div>
  </div>
</footer>
