<footer class="wrapper">

  <div class="container">

    <div class="logo">
      <a class="navbar-brand" href="/">
        <img src="http://image.ibb.co/d8Cti6/logo_crop.png" align="middle">
      </a>
    </div>

    <div class="contact">
      <h5>Contact</h5>
      <address><em>111 Cummington Mall,<br/>Boston, MA, 02215</em></address>
    </div>

    <div class="follow">
      <h5>Follow Us</h5>
      <p></p>
      <ul>
        <li>
          <a href="mailto:buarvr@gmail.com">
            <img src="https://image.ibb.co/jKZdnw/1200x630bb.jpg"
                  rel="https://itunes.apple.com/us/app/gmail-email-by-google/id422689480?mt=8">

          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/groups/buarvr/">
            <img src="https://image.ibb.co/bWkOLG/facebook_footer_share.png"
                  rel="https://www.brumbies.com.au/facebook-footer-share/">
          </a>
        </li>
        <li>
          <a href="https://github.com/TimHsu1998/BUARVR">
            <img src="https://image.ibb.co/iwdSfG/Git_Hub_Mark_64px.png"
                  rel="https://github.com/logos"/>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
