
<footer class="text-center">
  <div class="footer-below">
    <p class="text-center">
      <div class="space">
        <h3>(Put logo here)</h3>
      </div>
      <div class="space">
        <p>Email: buarvr@gmail.com</p>
        <p><a class="drop" style="color: white;" href="https://www.facebook.com/groups/buarvr/">Facebook</p>
      </div>
    </p>
  </div>
</footer>
