<nav class="navbar navbar-default" role='navigation'>
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">BU AR/VR</a>
    </div>

    <div class="navbar-header">
      <a class="navbar-brand" href="/news">NEWS</a>
    </div>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Calendar</a>
    </div>
  </div>
</nav>
